@page "/stock"
@using Domain.Entities.Products
@using WebUI.Components.SharedComponents.Stock

<div class="main-container mt-3">
    <div class="header-section">
        <div class="header-content">
            <h2 class="header-title">Gerencie o estoque de produtos</h2>
            <p class="header-subtitle">Gerencie os produtos registrados no estoque do almoxarifado</p>
        </div>
    </div>
    <div class="content-container">
        <StockMain />
    </div>
</div>