.card-container {
    background: white;
    border-radius: 12px;
    border: 1px solid var(--border-color);
}

.card-header {
    padding: 16px 20px;
    border-bottom: 1px solid var(--border-color);
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 14px;
    font-weight: 400;
    color: #323130;
}

.header-icon {
    color: var(--primary-color);
}

.card-body {
    padding: 20px;
}

.card-container.disabled {
    pointer-events: none;
    opacity: 0.5;
}