.container {
    padding: 20px;
    background: white;
    border-radius: 7px;
    border: 1px solid #dedede;
    font-family: 'Inter'
}

/* Header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

    .header h2 {
        font-size: 18px;
        margin-bottom: 5px;
        color: #333;
    }

    .header p {
        font-size: 14px;
        color: #6b7280;
        margin: 0;
    }

.actions {
    display: flex;
    gap: 10px;
}

/* Botões */
.btn {
    border: none;
    padding: 8px 14px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 14px;
}

    .btn.primary {
        background: #d32f2f;
        color: white;
        transition: 0.2s;
    }

    .btn.secondary {
        background: #f1f1f1;
        color: #333;
        transition: 0.2s;
    }

    .btn.primary:hover {
        background: #b22828;
        color: white;
    }

    .btn.secondary:hover {
        background: #dcdcdc;
        color: #333;
    }

/* Busca */
.search-box {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    gap: 10px;
}

    .search-box input {
        flex: 1;
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 6px;
    }

table {
    width: 100%;
    border-collapse: collapse;
}

thead {
    background: #f8f9fa;
}

thead {
    background: #f8f9fa;
}

th,
td {
    padding: 12px;
    text-align: center;
    border-bottom: 1px solid #eee;
    font-size: 14px;
}

th {
    font-weight: 600;
    color: #333;
    cursor: pointer;
    transition: background-color 0.2s;
}

th:hover {
    background-color: #e9ecef;
}

    /* Subcategoria */
    td.sub {
        padding-left: 25px;
        color: #444;
    }

.qtd-produtos {
    background-color: #e7f4fe;
    padding: 5px 7px;
    color: #199afc;
    border-radius: 10px;
}

/* Ícones */
.icon-btn {
    background: none;
    border: none;
    font-size: 16px;
    margin: 0 10px;
    cursor: pointer;
}

    .icon-btn.danger {
        color: #d32f2f;
    }

.tabs-container {
    display: flex;
    background: #f1f1f5;
    padding: 6px;
    border-radius: 20px;
    width: fit-content;
    margin: 20px auto;
}

.tab {
    display: flex;
    align-items: center;
    gap: 6px;
    padding: 8px 20px;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
    color: #333;
    font-size: 14px;
    user-select: none;
}

    .tab:hover {
        background: #e4e4eb;
    }

    .tab.active {
        background: #fff;
        font-weight: bold;
        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    }

    .tab i {
        font-size: 14px;
    }
