.filter-panel {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transform: translateY(-5px);
    transition: all 0.2s ease-in-out;
}

    .filter-panel.show {
        opacity: 1;
        max-height: 500px; /* defina um valor grande o bastante */
        transform: translateY(0);
    }

table {
    width: 100%;
    border-collapse: collapse;
}

thead {
    background: #f8f9fa;
}

thead {
    background: #f8f9fa;
}

th,
td {
    padding: 12px;
    text-align: center;
    border-bottom: 1px solid #eee;
    font-size: 14px;
}

th {
    font-weight: 600;
    color: #333;
    cursor: pointer;
    transition: background-color 0.2s;
}

    th:hover {
        background-color: #e9ecef;
    }

td {
    padding: 12px;
    text-align: center;
    border-bottom: 1px solid #eee;
    font-size: 14px;
}

.toggle-btn {
    border: 1px solid var(--border-color);
    border-radius: 4px;
    width: 75px;
    height: 30px;
    background-color: white;
    color: black;
    transition: all 0.2s ease-in-out;
}

    .toggle-btn.active {
        background-color: var(--primary-color);
        border: 1px solid var(--primary-color);
        color: white;
    }

.icon-package {
    width: 35px;        /* largura */
    height: 35px;       /* altura igual à largura */
    border-radius: 50%; /* deixa circular */
    background-color: #fbe7eb;
    color: var(--vibrant-red);
    display: flex; 
    justify-content: center;
    align-items: center;
}

.icon-package-card {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #fbe7eb;
    color: var(--vibrant-red);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0; /* impede o círculo de encolher */
    line-height: 0; /* evita espaço extra em ícones SVG */
}

.action-buttons{
    background: transparent;
    border: none;
    transition: 0.1s ease all;
    /* Adicione um padding para expandir a área do botão */
    padding: 8px; 
}

.action-buttons:hover{
    background-color: var(--border-color);
    border-radius: 6px;
}

.action-buttons-card {
    width: 100%;
    background-color: white;
    border-radius: 5px;
    border: 1px solid var(--border-color);
    cursor: pointer;
    transition: 0.1s;
    font-size: 14px;
}

    .action-buttons-card:hover {
        background-color: rgb(233, 233, 233);
    }

    .action-buttons-card:active {
        background-color: rgb(182, 182, 182);
    }
