.container[b-crk4l056ff] {
    padding: 20px;
    background: white;
    border-radius: 7px;
    border: 1px solid #dedede;
    font-family: 'Inter'
}

/* Header */
.header[b-crk4l056ff] {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

    .header h2[b-crk4l056ff] {
        font-size: 18px;
        margin-bottom: 5px;
        color: #333;
    }

    .header p[b-crk4l056ff] {
        font-size: 14px;
        color: #6b7280;
        margin: 0;
    }

.actions[b-crk4l056ff] {
    display: flex;
    gap: 10px;
}

/* Botões */
.btn[b-crk4l056ff] {
    border: none;
    padding: 8px 14px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 14px;
}

    .btn.primary[b-crk4l056ff] {
        background: #d32f2f;
        color: white;
        transition: 0.2s;
    }

    .btn.secondary[b-crk4l056ff] {
        background: #f1f1f1;
        color: #333;
        transition: 0.2s;
    }

    .btn.primary:hover[b-crk4l056ff] {
        background: #b22828;
        color: white;
    }

    .btn.secondary:hover[b-crk4l056ff] {
        background: #dcdcdc;
        color: #333;
    }

/* Busca */
.search-box[b-crk4l056ff] {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    gap: 10px;
}

    .search-box input[b-crk4l056ff] {
        flex: 1;
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 6px;
    }

table[b-crk4l056ff] {
    width: 100%;
    border-collapse: collapse;
}

thead[b-crk4l056ff] {
    background: #f8f9fa;
}

thead[b-crk4l056ff] {
    background: #f8f9fa;
}

th[b-crk4l056ff],
td[b-crk4l056ff] {
    padding: 12px;
    text-align: center;
    border-bottom: 1px solid #eee;
    font-size: 14px;
}

th[b-crk4l056ff] {
    font-weight: 600;
    color: #333;
    cursor: pointer;
    transition: background-color 0.2s;
}

th:hover[b-crk4l056ff] {
    background-color: #e9ecef;
}

    /* Subcategoria */
    td.sub[b-crk4l056ff] {
        padding-left: 25px;
        color: #444;
    }

.qtd-produtos[b-crk4l056ff] {
    background-color: #e7f4fe;
    padding: 5px 7px;
    color: #199afc;
    border-radius: 10px;
}

/* Ícones */
.icon-btn[b-crk4l056ff] {
    background: none;
    border: none;
    font-size: 16px;
    margin: 0 10px;
    cursor: pointer;
}

    .icon-btn.danger[b-crk4l056ff] {
        color: #d32f2f;
    }

.tabs-container[b-crk4l056ff] {
    display: flex;
    background: #f1f1f5;
    padding: 6px;
    border-radius: 20px;
    width: fit-content;
    margin: 20px auto;
}

.tab[b-crk4l056ff] {
    display: flex;
    align-items: center;
    gap: 6px;
    padding: 8px 20px;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
    color: #333;
    font-size: 14px;
    user-select: none;
}

    .tab:hover[b-crk4l056ff] {
        background: #e4e4eb;
    }

    .tab.active[b-crk4l056ff] {
        background: #fff;
        font-weight: bold;
        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    }

    .tab i[b-crk4l056ff] {
        font-size: 14px;
    }
