.search-container[b-btr0pqo8am] {
    display: flex;
    align-items: center;
    background-color: #edeeef;
    padding: 6px 10px;
    border-radius: 6px;
    font-family: 'Arial';
    font-size: 16px;
}

.search-container input[b-btr0pqo8am] {
    width: 100%;
    background-color: transparent;
    border: none;
    outline: none;
}
